/* Variables */

	// Colors
	$light-dark: #0e0f10;
	$dark: #070708;
	$accent: #018aac;
	$white: #fff;
	$light: #d6d7d6;
	$text-color: #5c5c5c;

	// Fonts
	$primary-font: 'Oswald', sans-serif;
	$secondary-font: 'Open Sans', sans-serif;

/* Mixins */

	@mixin lg-size-max {
		@media (max-width: 1199px) {
			@content;
		}
	}
	@mixin md-size-max {
		@media (max-width: 1024px) {
			@content;
		}
	}
	@mixin sm-size-max {
		@media (max-width: 767px) {
			@content;
		}
	}
	@mixin xs-size-max {
		@media (max-width: 576px) {
			@content;
		}
	}